html,
body {
  min-height: 100%;
}

#__next {
  height: 100%;
}

code {
  font-family: 'Inter', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
  padding: 0.1rem 0.4rem;
  font-size: 90%;
  color: #d400ff;
  border-radius: 0.1335rem;
}
code:not([class*='language-']):before,
code:not([class*='language-']):after {
  content: '`';
}
code[class*='language-'] {
  padding: 0;
}

#SvgjsSvg1130{
  filter: drop-shadow(0.1px 0.1px 0.1px #71dd37);
}

.apexcharts-svg .apexcharts-datalabels-group .apexcharts-text{
  font-size: 16.5px !important;
}
.custom-radial-chart-style .apexcharts-radialbar .apexcharts-datalabels-group .apexcharts-text{
  font-size: 20px !important;
}
.custom-sparkline-chart-coversionrate .apexcharts-xaxis {
  display: none;
}


